<ul>
  {{#each question.answers as |answer|}}
    <div>
      <h4>{{answer.contents}}</h4>
      <h5>- Answer provided by: {{answer.author}}</h5>
      <hr>
    </div>
    <br>
    <br>
  {{/each}}
</ul>
<!-- {{update-question question=question update="update"}} -->
