<ul>
  {{#each question.answers as |answer|}}
    <div>
      <li>{{answer.contents}}</li>
      <h5>Answer provided by: {{answer.author}}</h5>
    </div>
    <br>
    <br>
  {{/each}}
</ul>
<!-- {{update-question question=question update="update"}} -->
