<div class="container">
  <header class="jumbotron">
    <h1>Q and A - Ask Away!</h1>
  </header>
{{outlet}}
  <footer>
    <br>
    {{#link-to 'index'}}Home{{/link-to}}
    <hr>
    <br>
  </footer>
</div>
